$blue: #2ba6cb;
$white: #f8f9fa;
$light-gray: #ededed;
$gray: #515151;
$dark-gray: #313131;
$black: #1a1a1a;

/* colors from brown */
$bbrown: #3c1f1a;
$bred: #c92500;
$byellow: #ffc800;
$bgray: #7F7D78;